# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
aiProject/.idea/**/workspace.xml
aiProject/.idea/**/tasks.xml
aiProject/.idea/dictionaries

# Sensitive or high-churn files:
aiProject/.idea/**/dataSources/
aiProject/.idea/**/dataSources.ids
aiProject/.idea/**/dataSources.xml
aiProject/.idea/**/dataSources.local.xml
aiProject/.idea/**/sqlDataSources.xml
aiProject/.idea/**/dynamic.xml
aiProject/.idea/**/uiDesigner.xml

# what I found relevant
aiProject/.idea/**/contentModel.xml
aiProject/.idea/**/modules.xml
aiProject/.idea/**/riderModule.iml
aiProject/.idea/.idea.GameAI/.idea/.name
aiProject/.idea/.idea.GameAI/.idea/contentModel.xml
aiProject/.idea/.idea.GameAI/.idea/modules.xml
aiProject/.idea/.idea.GameAI/riderModule.iml

Kurt/.idea

NyKurt/.idea

gameLogs

aiLibs/Kurt.dll

aiLibs/Kurt.pdb

BAI


# Mongo Explorer plugin:
aiProject/.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
aiProject/.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties